@import './components/header';
@import './components/hero';
@import './components/about';
@import './components/ourwork';
@import './components/team';
@import './components/clients';
@import './components/backdrop';
@import './components/footer';
@import './components/form-modal';
@import './components/card-set';
@import './components/checkbox';
@import './components/base';

@import './utils/variables';
