.about {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: -30px;
  }
}

.about__chapter {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about__description {
  font-size: 14px;
  color: var(--color-text-p);
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .about__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.about__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
