.check {
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 11px;
  padding-right: 12px;
  cursor: pointer;

  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-text-p);
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-box {
  position: absolute;
  margin-top: 4px;
  margin-left: -23px;
  width: 16px;
  height: 15px;
  background-image: url(../images/blackbox.svg);
}

.check-input:checked + .check-box {
  background-image: url(../images/iconcheck.svg);
}

.text-license {
  text-decoration-line: underline;
  color: var(--color-text-logo);
}
