.title-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-h2);

  margin-bottom: 12px;
}

.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: left;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover > .form__icon,
  &:focus-within > .form__icon {
    fill: var(--hover-focus-link-button);
  }
}

.form__field label {
  cursor: pointer;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--color-text-contact);
}

.form__field input,
textarea {
  cursor: pointer;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;

  &:hover,
  &:focus {
    border-color: var(--hover-focus-link-button);
  }
}

.form__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment {
  padding: 12px 16px;
  height: 120px;

  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-button {
  font-family: inherit;
  background-color: var(--background-color-button);
  color: var(--color-text-title-button);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding: 10px 52px;
  border-radius: 4px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--background-color-focus-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
